* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(145, 231, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    font-family: 'Bebas Neue', cursive;
  }
  .pandemic {
     bottom: 350px;
     font-size: 30px;
     color: cornflowerblue;
     position: fixed;
     word-spacing: 30px;
  }
  
  .waviy {
    position:fixed;
    word-spacing: 20px;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 80px;
    color: rgb(192, 27, 170);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .i {
    position: fixed;
    padding-left: 350px;
  }