* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(9, 105, 117);
    font-family: 'Bebas Neue', cursive;}
 
  p {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 4.5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat:repeat;
    background-size: 80%;
    animation: shine 4s linear infinite;
    position: relative;
  }
  h1 {
    padding-top: 400px;
    font-size:medium;
    
  }
  @keyframes shine{
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }