body {
    background-color: crimson;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.social {
    color:bisque;
    font-size: 0;
    line-height: 1.5;
}
.social span {
 font-size: 5rem;
 display: inline-block;
 animation: move 3s ease-in-out infinite;
}
@keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .social span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .social span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .social span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .social span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .social span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .social span:nth-child(7) {
    animation-delay: 3s;
  }